mixin how(how)
    section.how
        .g-grid
            h2= how.title
            p= how.subtitle
            .how-step
                .how-step__item
                    .how-step__item--title= how.steps[0]
                    +btn() Оставить заявку
                    .how-step__item--num
                        img(src='./assets/images/svg/1.svg')
                .how-step__item
                    .how-step__item--title= how.steps[1]
                    .how-step__item--num
                        img(src='./assets/images/svg/2.svg')
                .how-step__item
                    .how-step__item--title= how.steps[2]
                    .how-step__item--num
                        img(src='./assets/images/svg/3.svg')