mixin carousel(slides, type = 'banner')
    - slides = slides || [{title: "Title 1", subtitle: "Subtitle 1"}, {title: "Title 2", subtitle: "Subtitle 2"},{title: "Title 3", subtitle: "Subtitle 3"}]
    .carousel(class=`carousel-${type}`)&attributes(attributes)
        .swiper-container
            .swiper-wrapper
                each slide in slides
                    if (type == 'banner')
                        .swiper-slide.js-scroll-zoom(style=`background-image: url(./assets/images/temp/${slide.img})`)
                            .g-grid
                                .carousel-inner
                                    h1=slide.title
                                    p=slide.subtitle
                    if (type == 'reviews')
                        .swiper-slide
                            div(class=`${type}-item__col`)
                                p(class=`${type}-item__text`)= slide.review
                                div(class=`${type}-item__name`)= slide.name
                            div(class=`${type}-item__col`)
                                div(class=`${type}-item__right`)= slide.rightText
                    if (type == 'services')
                        .swiper-slide
                            div(class=`carousel-${type}__item` style=`background-image: url(./assets/images/temp/${slide.img})`)
                                div(class=`carousel-${type}__info`)
                                    h4(class=`carousel-${type}__info--title`)= slide.title
                                    p(class=`carousel-${type}__info--desc`)= slide.info
            if (type == 'reviews')
                a.reviews-all(href="/") Читать все отзывы
            .carousel-navs.g-grid
                .swiper-button-prev
                .swiper-button-next