mixin avtopark()
    -
        var avtopark = [
            {
                car: 'Портер',
                imgSmall: 'porter',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            },
            {
                car: 'ГАЗель тент',
                imgSmall: 'gaz-tent',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            },
            {
                car: 'ГАЗель фургон',
                imgSmall: 'gaz-furg',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            },
            {
                car: 'ГАЗель удлиненная',
                imgSmall: 'gaz-udl',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            },
            {
                car: 'ГАЗель фермер',
                imgSmall: 'gaz-ferm',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            },
            {
                car: 'ЗИЛ Бычок',
                imgSmall: 'bychok',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            },
            {
                car: 'Пятитонник',
                imgSmall: 't5',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            },
            {
                car: 'Еврофура',
                imgSmall: 'fura',
                imgLarge: 'porter.png',
                length: '2.7 м',
                width: '1.6 м',
                height: '1.6 м',
                volume: '7 м3',
                capacity: '1000 кг',
                pallets: '3 паллета',
                info: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.',
                link: '#car-link'
            }
        ]
    -
    section.avtopark#avtopark
        .g-grid
            h2.g-clr_m.g-mb_1 Взгляните на наш автопарк
            p.g-mb_4 Все грузовые автомобили принадлежат компании АНТТРАНС
            .g-row
                .g-col.g-col_md_4
                    ul.avtopark-list
                        each car in avtopark
                            li.avtopark-list__item(data-car=`{"name":"${car.car}", "img":"${car.imgLarge}", "length": "${car.length}", "width": "${car.width}", "height": "${car.height}", "volume": "${car.volume}", "capacity": "${car.capacity}", "pallets": "${car.pallets}", "info": "${car.info}", "link": "${car.link}"}`)
                                span.avtopark-list__item--icon
                                    img(src=`./assets/images/svg/${car.imgSmall}.svg`)
                                span.avtopark-list__item--name= car.car
                .g-col.g-col_md_8
                    .avtopark-preview
                        .avtopark-preview__img
                        .avtopark-preview__params
                            h4.avtopark-preview__params--title.g-mb_2 Характеристики автомобиля
                            ul.avtopark-preview__params--inner
                                li
                                    span.param Длина кузова
                                    span.val.a-length
                                li
                                    span.param Ширина кузова
                                    span.val.a-width
                                li
                                    span.param Высота кузова
                                    span.val.a-height
                                li
                                    span.param Объем кузова
                                    span.val.a-volume
                                li
                                    span.param Грузоподъемность
                                    span.val.a-capacity
                                li
                                    span.param Вместимость
                                    span.val.a-pallets
                    .avtopark-cartext.g-mt_3
                        h3.h3.g-clr_m.g-mb_1
                        p.p
                        +btn('lg') Узнать стоимость перевозки