mixin rsformGroup(params)
    .rsform-group.js-rsform__field.rs-check_mark&attributes(attributes)
        if (params.type !== 'checkbox' && params.labelText)
            span.rsform-title= params.labelText || ''
        if (params.icon)
            span.rsform-icon
                svg
                    use(xlink:href=`./assets/images/svg-sprite/sprite.svg#${params.icon}`)
        if (params.req)
            if (params.type == 'textarea')
                textarea.rsform-input(
                    type=`${params.type}`, 
                    name=`${params.name}`, 
                    placeholder=`${params.placeholder || ''}`, 
                    data-required=`${params.req}`,
                    class=`${params.icon ? 'icon': ''}`
                )
            else if (params.type == 'checkbox')
                label.rsform-checkbox
                    input.rsform-checkbox--input(
                        type=`${params.type}`, 
                        name=`${params.name}`, 
                        data-required=`${params.req}`,
                        class=`${params.icon ? 'icon': ''}`
                    )
                    span.rsform-checkbox--input__clone
                    if (params.labelText)
                        .rsform-title= params.labelText || ''
            else
                input.rsform-input(
                    type=`${params.type}`, 
                    name=`${params.name}`, 
                    placeholder=`${params.placeholder || ''}`, 
                    data-required=`${params.req}`,
                    class=`${params.icon ? 'icon': ''}`
                )
        else 
            if (params.type == 'textarea')
                textarea.rsform-input(
                    type=`${params.type}`, 
                    name=`${params.name}`, 
                    placeholder=`${params.placeholder || ''}`,
                    class=`${params.icon ? 'icon': ''}`
                )
            else if (params.type == 'checkbox')
                label.rsform-checkbox
                    input.rsform-checkbox--input(
                        type=`${params.type}`, 
                        name=`${params.name}`, 
                        data-required=`${params.req}`,
                        class=`${params.icon ? 'icon': ''}`
                    )
                    span.rsform-checkbox--input__clone
                    if (params.labelText)
                        .rsform-title= params.labelText || ''
            else
                input.rsform-input(
                    type=`${params.type}`, 
                    name=`${params.name}`, 
                    placeholder=`${params.placeholder || ''}`,
                    class=`${params.icon ? 'icon': ''}`
                )